fastapi
uvicorn
pymongo
python-multipart
python-dotenv

groq

pdfplumber

langchain
langchain-community
langchain-text-splitters

faiss-cpu

sentence-transformers
transformers
torch

openai-whisper
ffmpeg-python

pytest
pytest-cov
httpx